<% layout('/layout/template') %>
<div class="container bg-body rounded">
  <h3 class="text-center">Resume Updates</h3>
  <span></span>

  <!--1. BASIC UPDATE-->
  <div class="row py-2">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-2 d-flex align-self-center justify-content-center">
            <img
              src="/public/img/update-1.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Update Existing StoreyLine Resume</h5>
              <p class="card-text">
                Let us update your Storeyline Resume with the most current
                information. Includes addition of one new job and basic updates
                to contact information.
              </p>
            </div>
          </div>
          <!--1. PRICE-->
          <div class="col-md-2 d-flex align-self-center border-0">
            <div class="card">
              <div class="card-body shadow-sm">
                <h6 class="card-text">$75.00</h6>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Add to Cart
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--2. RESUME OVERHALL-->
  <div class="row py-2">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-2 d-flex align-self-center justify-content-center">
            <img
              src="/public/img/update-2.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Overhall of Existing StoreyLine Resume</h5>
              <p class="card-text">
                We take your old resume and make it new again! We will overhaul
                and/or change the focus of your Storeyline Resume to meet your
                requirements. Includes change of summary, change of
                competencies, adding on one to two jobs. All previous job
                descriptions remain the same.
              </p>
            </div>
          </div>
          <!--2. PRICE-->
          <div class="col-md-2 d-flex align-self-center border-0">
            <div class="card">
              <div class="card-body shadow-sm">
                <h6 class="card-text">$175.00</h6>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Add to Cart
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--3. COVER LETTER-->
  <div class="row py-2">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-2 d-flex align-self-center justify-content-center">
            <img
              src="/public/img/update-3.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Cover Letter</h5>
              <p class="card-text">
                A well-written, customized cover letter can open doors to better
                interviews.
              </p>
            </div>
          </div>
          <!--3. PRICE-->
          <div class="col-md-2 d-flex align-self-center border-0">
            <div class="card">
              <div class="card-body shadow-sm">
                <h6 class="card-text">$50.00</h6>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Add to Cart
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--4. UPDATE LINKEDIN PROFILE-->
  <div class="row py-2">
    <div class="col">
      <div class="card py-2">
        <div class="row g-0">
          <div class="col-md-2 d-flex align-self-center justify-content-center">
            <img
              src="/public/img/update-4.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Update LinkedIn Profile</h5>
              <p class="card-text">
                An up-to-date presence on the web is critical to your career. We
                will update your LinkedIn profile with your new job(s).
              </p>
            </div>
          </div>
          <!--3. PRICE-->
          <div class="col-md-2 d-flex align-self-center border-0">
            <div class="card">
              <div class="card-body shadow-sm">
                <h6 class="card-text">$75.00</h6>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Add to Cart
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--5. EXPEDITED SERVICE-->
  <div class="row py-2">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-2 d-flex align-self-center justify-content-center">
            <img
              src="/public/img/update-5.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Expedited Service</h5>
              <p class="card-text">
                Your resume update, overhaul or LinkedIn profile will be
                delivered within 24-48 hours. (weekdays only)
              </p>
            </div>
          </div>
          <!--4. PRICE-->
          <div class="col-md-2 d-flex align-self-center border-0">
            <div class="card">
              <div class="card-body shadow-sm">
                <h6 class="card-text">$100.00</h6>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Add to Cart
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--6. PROCEED TO CHECKOUT-->
  <div class="row mt-5 divider">
    <div class="col-10">
      <h6 class="text-uppercase">Proceed to Checkout</h6>
    </div>
    <div class="col-2 d-flex align-self-center mb-4">
      <button type="button" class="btn btn-primary">Checkout</button>
    </div>
  </div>
</div>
