<% layout('/layout/template') %>
<div class="container-fluid p-4 bg-body rounded">
  <h3 class="text-center">Freqently Asked Questions</h3>

  <P class="mt-4"
    >We write resumes for professionals at every level. Storeyline’s team of
    specialists are equipped to handle virtually any professional field of
    practice, including sales, business development, finance, accounting,
    education, health-care, legal, sports, entertainment, production,
    manufacturing, operations, administration, and the non-profit sector. We are
    especially suited to craft C-level resumes (CEO, CFO, COO, etc) and
    qualified in technical fields such as information technology, engineering,
    and mechanical. Additionally, our CV writers are knowledgeable of the needs
    of physicians, researchers, PhDs, and overseas customers. For clients with
    unusual occupations needing a touch of creativity and careful execution, we
    can take care of you too.</P
  >
  <!--ACCORDAIN WITH QUESTIONS AND ANSWERS-->
  <!--QUESTION #1-->
  <div class="row">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            How much does your service cost?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Pricing tiers depend on your level and years of experience and are
            outlined in detail on the Products Page. If you are unsure which
            category you fall under, our team is manning the phones to help you
            determine what kind of project best fits your needs.
            <br /><br />
            If you need additional information for clarity call us at
            <strong>724-832-8845</strong> or send an email with your inquiries.
            Your business is incredibly important to us and we’ll return most
            calls the same business day, or the following day at the latest.
          </div>
        </div>
      </div>

      <!--QUESTION #2-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How long will it take to get my resume?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            You’ll receive your proof within 7 to 10 business days after your
            phone interview. Once you’re fully satisfied with your new resume,
            we’ll send out the finalized documents within 2-3 business days. We
            understand that everyone has a different timetable to work with and
            if your dream job is only accepting applicants for the next few
            days, let us know, and we’ll set you up with a 48- hour (business
            hours) turnaround for a reasonable additional fee.
          </div>
        </div>
      </div>

      <!--QUESTION #3-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Is there a guarantee?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Clients recommend us because we don’t let you walk away without a
            smile on your face. We’ll work with you until you love what we’ve
            done for you.
          </div>
        </div>
      </div>

      <!--QUESTION #4-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Why should I hire you and not someone else?
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Storeyline Resumes is the total package. We’re run by a former Human
            Resources Executive with significant recruiting experience, insider
            expertise with both HR and resume writing, and proven results as a
            top ranked executive resume writer and the #1 most viewed resume
            writer on LinkedIn. Our staff of 30 USA based Interviewers and
            Writers have years of collective knowledge regarding a breadth of
            career fields and business disciplines, which ensures the perfect
            writer is always available for your specific needs. We work by
            telephone and email, not through bulky, time consuming forms. And we
            never contract our work out to under-qualified “professionals.”
            Everything stays in-house, and Robynn serves as the final gatekeeper
            for quality assurance.
          </div>
        </div>
      </div>

      <!--QUESTION #5-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            Can you help me find a job?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Our resumes outperform the competition at comparable rates on a
            consistent basis. We get more than a few requests to fix someone
            else’s work. You’ll receive a customized, professional, and
            impactful resume. Thousands of clients have credited us for
            exceptional interview opportunities.
          </div>
        </div>
      </div>

      <!--QUESTION #6-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix"
          >
            What if I need help with something after my resume is done?
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Our relationship doesn’t end when you walk away with your resume. We
            want to hear about your job search and what success you’ve
            experienced. Call or email us any time with your questions or
            concerns. We built our reputation on being a service with longevity
            and easy access. Your ongoing interaction and feedback is important
            to perfecting the process we have in place.
          </div>
        </div>
      </div>

      <!--QUESTION #7-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            I need to conduct my call after business hours, are you available?
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Our team works during regular business hours, from Monday through
            Friday – 8 AM to 5 PM EST.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
