<% layout('/layout/template') %>
<!--1. TAGLINE SECTION-->
<div class="container-fluid bg-body shadow-lg">
  <div class="row shadow-sm py-3 rounded">
    <div class="col-lg-6">
      <h3>You're one of a Kind</h3>
      <h3>Smart and accomplished</h3>
      <h3>You know your value</h3>
      <h3>You need a resume that reflects that</h3>
    </div>

    <!--PICTURE WITH EXECUTIVES-->
    <div class="col-lg-6">
      <img class="img-fluid" src="/public/img/executives.png" alt="" />
    </div>
  </div>

  <!--2. QUOTE-->
  <div class="row shadow-sm py-5 rounded">
    <div class="col">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>
            Whether you’re a seasoned executive who needs an
            accomplishment-driven brand statement with maximum impact or looking
            to break into your first $100K job, Storeyline Resumes will deliver.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
      </figure>
    </div>
  </div>

  <!--3. CALL TO ACTION-->
  <div class="row shadow-sm py-4 rounded">
    <div class="col">
      <h4 class="text-center">Get your Storeyline Resume Today</h4>
      <p class="text-center">
        In less than five minutes you can be on your way to getting the job you
        deserve.
      </p>
      <button type="button" class="btn btn-sm btn-primary">
        Get Started Now!
      </button>
    </div>
  </div>

  <!--4. STORYLINE DIFFERENCE-->
  <div class="row shadow-sm py-4 rounded">
    <div class="col divider">
      <h4 class="mt-3">The StoreyLine Difference</h4>
      <p>
        Why choose Storeyline Resumes for your professional resume or curriculum
        vitae? We’ll tell your story with passion, creativity, and experience.
        We are dedicated to your total satisfaction. And our one-on-one,
        personalized service makes the process easy and painless for you.
      </p>
      <button class="btn btn-md btn-primary" type="button">
        Speak with us
      </button>
    </div>
  </div>
</div>
