<% layout('/layout/template') %>
<div class="container bg-body rounded">
  <h3 class="text-center">The StoreyLine Difference</h3>
  <span></span>
  <p>
    With Storeyline, you will always receive one-on-one, personalized service.
    No forms to fill out, no mass-produced resumes, no inexperienced writers. We
    will work with you to highlight your strengths and create a great first
    impression.
  </p>
  <span></span>
  <h5>How It Works</h5>
  <br />
  <div class="container-fluid">
    <!--1. STEP ONE-->
    <div class="row py-2">
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div
              class="col-md-2 d-flex align-self-center justify-content-center"
            >
              <img
                src="/public/img/phone_call.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-10">
              <div class="card-body divider">
                <h6 class="card-title text-uppercase">Phone Interview</h6>
                <p class="card-text">
                  One of our highly experienced Interviewers will conduct a one
                  on one phone interview with you to uncover pertinent details
                  that will make your resume truly shine. There’s no need to
                  make special preparations. They’ll hold your hand throughout
                  the entire course of a 25-40 minute dialogue while discussing
                  your background, accomplishments, and career goals. During the
                  process you’ll receive invaluable insight into current hiring
                  practices, job search strategies, and insider secrets.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END OF STEP ONE -->

    <!--2. STEP TWO-->
    <div class="row py-2">
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div
              class="col-md-2 d-flex align-self-center justify-content-center"
            >
              <img
                src="/public/img/resume_word.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-10">
              <div class="card-body divider">
                <h6 class="card-title text-uppercase">Resume Proof</h6>
                <p class="card-text">
                  After your phone consultation, we will ask you to send
                  “homework,” including job targets. Resume proofs are provided
                  7-10 business days after we receive your homework. As a
                  reflection of our brand standards, we offer unlimited revision
                  requests for the next ten days, with special consideration
                  given to clients with extenuating circumstances. We prioritize
                  your total satisfaction: NO ONE leaves us with a resume they
                  don’t love.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END OF STEP TWO -->

    <!--3. STEP THREE-->
    <div class="row py-2">
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div
              class="col-md-2 d-flex align-self-center justify-content-center"
            >
              <img
                src="/public/img/add_value.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-10">
              <div class="card-body divider">
                <h6 class="card-title text-uppercase">Added Value</h6>
                <p class="card-text">
                  Our commitment to an “added value” business model means we’ll
                  also provide additional information, tips, and tools to
                  empower your job search. You’ll learn how to plan a simple,
                  straight forward internet job search, locate the opportunities
                  other candidates haven’t discovered, and just as importantly,
                  how to avoid the seemingly popular career portals that yield
                  little to no results.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END OF STEP THREE -->

    <!--4. STEP FOUR-->
    <div class="row py-2">
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div
              class="col-md-2 d-flex align-self-center justify-content-center"
            >
              <img
                src="/public/img/client.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-10">
              <div class="card-body divider">
                <h6 class="card-title text-uppercase">After the Resume</h6>
                <p class="card-text">
                  We create long-term relationships with our clients. If you
                  ever need our help, have a question, or want to solicit advice
                  from an HR insider, call or email us anytime. We’re always
                  here to help.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END OF STEP FOUR -->
  </div>
</div>
