<% layout('/layout/template') %>
<!--1. PROFESSTIONAL PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/executive_pkg.png"
              class="img-fluid rounded d-flex"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Professional Package</h5>
              <p class="card-text">
                The Professional Level resume portrays the distinctive value and
                capabilities of professionals with more than eight years of
                experience. The function of this resume is to qualify you as a
                viable choice for supervisory or management positions with broad
                accountabilities. Most importantly, this document is designed to
                demonstrate upward mobility.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $85,000 to $125,000 </strong></small
                >
              </p>
              <p class="card-text">
                <a href="/public/docs/professtional-sample.pdf" target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--PROFESSIONAL PACKAGE PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow-sm">
          <h6 class="card-text">Resume: $399</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--2. EXECUTIVE PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/professional.png"
              class="img-fluid rounded d-flex"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Executive Package</h5>
              <p class="card-text">
                The Executive level resume is for six-figure candidates with a
                large body of accomplishments that need to be distilled into a
                concise, hard-hitting format that displays the very best aspects
                of personal brand value. You are a thought-leader, self-starter,
                and accomplishment-driven workhorse with leadership talents that
                place you in the elite category of management professionals. You
                provide the intellect, vision, strategy, and execution that
                propels a company to profitable success.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $125,000 - $199,999 </strong></small
                >
              </p>
              <p class="card-text">
                <a href="/public/docs/executive-sample.pdf" target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--EXECUTIVE PACKAGE PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $499</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--3. SENIOR EXECUTIVE PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/senior_executive_pkg.png"
              class="img-fluid rounded d-flex"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Senior Executive Package</h5>
              <p class="card-text">
                The Senior Executive level resume is designed to leverage your
                extensive experience and accomplishments to represent your
                unique talent brand. You are an invaluable leader who has the
                expertise and knowledge to drive unprecedented business growth,
                bottom-line profit, and brand success. This resume will showcase
                those qualities and provide a stellar first impression.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $200,000 to $274,999 </strong></small
                >
              </p>
              <p class="card-text">
                <a
                  href="/public/docs/senior-executive-sample.pdf"
                  target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SENIOR EXECUTIVE PACKAGE PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $599</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--4. C-SUITE PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/c-suite.png"
              class="img-fluid rounded d-flex"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">C-Suite Package</h5>
              <p class="card-text">
                The C-Suite level resume is a professional narrative for the
                Director or C-level executive whose career has reached
                unprecedented highs, and who has the salary to prove it. Perfect
                for the upper echelon of industry leaders with far-reaching
                accomplishments that influence not only your company but the
                world we live in. This resume is a testimonial to everything
                that you are and an invaluable tool when challenging yourself to
                become even better at what you already do best.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $275,000 and above </strong></small
                >
              </p>
              <p class="card-text">
                <a href="/public/docs/csuite-sample.pdf" target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--C-SUITE PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $699</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--5. CURRICULA VITAE PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/cirricula.png"
              class="img-fluid rounded d-flex"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Curricula Vitae Package</h5>
              <p class="card-text">
                The Curricula Vitae is a deeper and more thorough look into your
                work history and includes personal information not suited for
                standard resumes. Overseas clients, physicians, scientists,
                PhDs, and certain other professionals will need this alternative
                format to delineate an often lengthy and impressive list of
                speaking engagements, studies, publications, special training,
                as well as a more complete career overview not restricted to
                your chosen field of work.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $100,000 and above </strong></small
                >
              </p>
              <p class="card-text">
                <a href="/public/docs/curricula-sample.pdf" target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CURRICULA VITAE PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $499</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--6. FEDERAL PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/federal.png"
              class="img-fluid rounded d-flex p-2"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Federal Package</h5>
              <p class="card-text">
                Your new Federal resume will include all necessary key skills
                and abilities (KSAs) to help you land that government job!
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $99,000 and lower </strong></small
                >
              </p>
              <p class="card-text">
                <a href="/public/docs/federal-sample.pdf" target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--FEDERAL VITAE PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $499</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--7. MILITARY TRANSITION PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/military.png"
              class="img-fluid rounded d-flex p-3"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Military Transition Package</h5>
              <p class="card-text">
                Leaving the Military? You need a professional resume that
                translates your military history into business language. Gather
                your DD-214 and military performance reviews in anticipation of
                our conversation and development of your military conversion
                resume.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $99,000 and lower </strong></small
                >
              </p>
              <p class="card-text">
                <a
                  href="/public/docs/military-transition-sample.pdf"
                  target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MILITARY TRANSITION PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $299</h6>
          <h6 class="card-text">Linkedln Profile: $100</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--7. FEDERAL TRANSITION PACKAGE-->
<div class="container-fluid shadow mb-2 rounded bg-body">
  <div class="row">
    <div class="col-lg-9">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-md-3 align-self-center justify-content-center">
            <img
              src="/public/img/colonel.png"
              class="img-fluid rounded d-flex"
              alt="..."
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Federal Transition Package</h5>
              <p class="card-text">
                The perfect resume for high ranking military officer including
                Major, Lieutenant Colonel, Colonel, Brigadier General, Major
                General, Lieutenant General, Sergeant Major of the Army, Command
                Sergeant Major, Master Sergeant, Master Petty Officer, Master
                Chief Petty Officer, etc. With long-term military experience,
                send us your DD214s and NCOs and we will build your entire
                illustrious military history on paper. Looking to transition
                into private sector? We are the experts to help you in your
                journey.
              </p>
              <p class="card-text text-center">
                <small>
                  <strong> Salary Range: $100,000 and above </strong></small
                >
              </p>
              <p class="card-text">
                <a
                  href="/public/docs/senior-military-sample.pdf"
                  target="_blank"
                  ><small class="text-muted">View Sample</small></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--FEDERAL TRANSITION PRICE-->
    <div class="col-md-3 d-flex align-self-center">
      <div class="card">
        <div class="card-body shadow=sm">
          <h6 class="card-text">Resume: $499</h6>
          <h6 class="card-text">Linkedln Profile: $150</h6>
          <h6 class="card-text">Cover Letter: $40</h6>
          <div class="d-grid gap-2 d-md-flex mt-3">
            <button type="button" class="btn btn-primary btn-sm">
              Package
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
              Resume Only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
