<div class="container mt-2">
  <footer>
    <div class="container-fluid bg-body rounded footerT">
      <div class="row">
        <div class="col-9">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <div id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      href="/display/about-us"
                      >About Us</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/display/faqs">FAQs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/display/contact-us"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-3 mt-2 d-flex justify-content-end">
          <a href="https://www.facebook.com/storeyline" target="_blank"
            ><span class="icon">
              <ion-icon
                class="footer-icon"
                name="logo-facebook"
                size="large"
              ></ion-icon> </span
          ></a>

          <a href="https://www.linkedin.com/in/robynnstorey" target="_blank"
            ><span class="icon px-2"
              ><ion-icon
                class="footer-icon"
                name="logo-linkedin"
                size="large"
              ></ion-icon></span
          ></a>
        </div>
      </div>
    </div>
  </footer>
</div>
